{% extends 'base.html' %}
{% block head %} 
    <title>user guide</title>
{% endblock %}

{% block body %}
    <h3>Once you reach the SiPP Page, you have three options: </h3>
    <ul>
        <li>Select Policy</li>
            <br><i><b>Note: </b>For ease of understanding the tool, we have added few policies for you to navigate. The same would be available in the "Select Policy" option</i>
            <br><br>
            <ol>
                <li>Select Policy form the drop down list</li>
                <li>Click "Next" button at the end of the page</li>
            </ol>
            <br><br><br>
        <li>Upload Text</li>
        <br>    
            <ol>
                <li>Copy Paste the Policy text into the provided text area. </li>
                <li>Click "Next" button at the end of the page</li>
            </ol>
        <br><br><br>
        <li>Upload File</li>
        <br>
        <br>
            <ol>
                <li>Upload text file. </li>
                <li>Click "Next" button at the end of the page</li>
            </ol>
    </ul>
{% endblock %}