{% extends 'base.html' %}
{% block head %} 
    <title>user guide</title>
{% endblock %}

{% block body %}
    <p class = 'guide_para'>Follow the below steps to use the tool: </p>
    <ul>
        <!-- 
        <li>
            Select the domain for selecting organization. 
        </li>
         -->
        <li>
            Select the organization of the policy you want to go through. 
        </li>
        <li>
            To the left of your screen, you will be able to see the policy on the website. And on the right, you will be able to select sections.
        </li>
        <li>
            Each section would show you sentences related to the respective section. 
        </li>
    </ul>
{% endblock %}