<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiPP</title>
</head>
<body>
    <h1>select type of input:  </h1>
    <button id = 'fileIP' value = 'file input'>file input</button>
    <button id = 'textIP' value = 'text input'>text input</button>
    <br><br><br>
    <form action="SiPP.html" method = 'GET'>
        <label for="myfile">Select files:</label>
        <input type="file" id = "myfile" name="myfile" single><br><br>
        <label for = 'policytext'>Policy text : </label>
        <input type = 'text' id = 'policytext'>
        <input type="submit">
      </form>
</body>
</html>