{% extends 'base.html' %}
{% block head %}
    <title>View Policy</title>
{% endblock %}
{% block body %}
    <h1>{{organization}}</h1>
    <h4>Skim through the policy below. Scroll to the end of the page to proceed. </h4>
    <div class = 'full_policy'>
        {{policy_text}}
    </div>
    <br>
    <form action = 'SiPP' method = 'POST'>
        <input type="hidden" value = "{{policy_text}}" name = "policy_text">
        <input type = "submit" value="submit_policy"></input>
    </form>
    <br>
    <br>
{% endblock %}